body {
    width: 1080px;
}

header {
    text-align: center;
}

div {
    width: 260px;
    height: 260px;
    border-style: solid;
    border-width: 1px;
    float: left;
    margin-left: 75px;
    margin-top: 75px;
}    
